<div class="element">
    <div class="header">Recently created studies</div>
    <g:render template="../studie/table/filteredTable" model="[studieCount:studieCount,studieInstanceList:studieInstanceList,disablePagenate:true]"/>
</div>
