<div class="left_information_box">
  the role user gives you minimal access to the system including the possibility to

  <div class="element">

    <ol>
      <g:render template="userRights"/>
    </ol>
  </div>
</div>