<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="layout" content="main"/>
    <g:set var="entityName" value="${message(code: 'GCTof.label', default: 'GCTof')}"/>
    <link rel="stylesheet" href="${resource(dir: 'css', file: 'scaffolding.css')}"/>
    <link rel="stylesheet" href="${resource(dir: 'css', file: 'instrument.css')}"/>

    <title><g:message code="default.show.label" args="[entityName]"/></title>
</head>

<body>
<g:render template="/shared/navigation"/>

<div class="element">
    sorry there are no options for generic scheduling. In fact there is no current implementation todo anything with a generic studie!

</div>

</body>

</html>
