<%--
  Created by IntelliJ IDEA.
  User: wohlgemuth
  Date: 10/20/11
  Time: 2:54 PM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
  <head><title>Simple GSP page</title></head>
  <body>Place your content here</body>
</html>