<table>
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>owner</th>
        <th>priority</th>
        <th>state</th>
        <th>host</th>
        <th>slots</th>
    </tr>
    </thead>
    <tbody>
    <g:each in="${queue}" var="job">
        <tr>
            <td>${job.id}</td>
            <td>${job.name}</td>
            <td>${job.owner}</td>
            <td>${job.priority}</td>
            <td>${job.state}</td>
            <td>${job.host}</td>
            <td>${job.slots}</td>
        </tr>
    </g:each>
    </tbody>
</table>