<!-- contains links to related content -->
<li>
    <g:link controller="contributor" action="members">project members</g:link>
</li>
<li>
    <g:link controller="contributor" action="publications">publications</g:link>
</li>
