<%--
  Created by IntelliJ IDEA.
  User: wohlgemuth
  Date: 12/23/10
  Time: 12:08 AM
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
  <head><title>Simple GSP page</title></head>
  <body>Place your content here</body>
</html>